<% @ideas.each do |idea| %>
<li>
  <%= idea.title %>- <%= idea.body %>

  <%= link_to "edit",edit_user_idea_path(current_user, idea)%>

  <%= link_to "delete", user_idea_path(current_user,idea),method: :delete %>

</li>
<%end %>

<%= link_to "Go back", user_path(current_user) %>
